@import './variables.scss';

html {
  font-family: 'Open Sans', sans-serif;
  font-size:8px;
  line-height:1.35;
  color:$grey-font;
  @media  screen and (min-width:768px) {
    font-size:10px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-size:1.4rem;
}

.is-login-page .page-wrapper fieldset {
  height:100%;
  border:none;
}

.is-login-page .page-wrapper .logo {
  display:inline-block;
  margin-bottom:20px;
}

.is-login-page .page-wrapper button {
  background-color:$blue;
  border:none;
}

.is-login-page .page-wrapper .register-button {
  color:$blue;
}

@media screen and (min-width:768px) {
  .centered-container {
    max-width:$content-max-width;
    margin-left:auto;
    margin-right:auto;
  }
  .content-max-width {
    max-width: $content-max-width;
  }
  .is-login-page {
    background:url("../../img/login-bg.jpg") center center fixed no-repeat;
    background-size:cover;
  }

  .is-login-page .page-wrapper {
    position:fixed;
    height:100%;
    width:400px;
    background-color:white;
  }
  .is-login-page .page-wrapper fieldset {
    height:100%;
    margin:140px 40px 0;
    border:none;
  }

  .is-login-page .page-wrapper .logo {
    display:inline-block;
    margin-bottom:20px;
  }

}

a {
  color:$grey-font;
}

button {
  outline: 0;
}

.mobile-hidden {
      @media  screen and (max-width:767px) {
          display:none;
        }
}