@import './variables.scss';

.datepicker-wrapper {
  width: 100%;
  display:block;

  > * {
    float:left;
  }

  > div {
    width: calc(100% - 112px)
  }

  > select {
    width: 35px;
    padding-left:7px;
    padding-right:0;
    appearance: none;
  }
  .react-datepicker-wrapper {
    width:100%;
  }

}
.react-datepicker__input-container {
  width:100%;
  display:block;
  input {
    width: calc(100% - 10px);
  }
}
