@import './variables.scss';

input[type=text], input[type=password], select {
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 100%;
  height:34px;
  padding-left:10px;
  padding-right:10px;
}
input[type=text], input[type=password] {
  padding-top: 10px;
  padding-bottom: 8px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

label {
  display: block;
}

label.radio-label {
  display:inline-block;
  margin:0 10px;
}

fieldset {
  padding:1.5rem;
  border:none;
  margin:0 -1.5rem 0;
  @media  screen and (min-width:768px) {
    margin:0 0 20px;
    border-radius:2px;
    border: 1px solid #ddd;
  }

  h3 {
    font-weight:normal;
    background-color:#f2f2f2;
    border-bottom:1px solid #ddd;
    margin:-1.5rem -1.5rem  1.5rem;
    padding:1.5rem 1.5rem 1.5rem;
  }

  label {
    padding-bottom: 2px;
  }

  .form-row {
    margin-bottom:10px;

    @media  screen and (min-width:768px) {
      margin-bottom:20px;
    }

    &.mb0 {
      margin-bottom:0px;
    }

    &:last-child {
      margin-bottom:0;
    }

  }

  .form-row.is-error input,
  .datepicker-wrapper.is-error input,
  .form-row.is-error select,
  select.is-error {
    border-color:red;
  }
}

.form-message {
  padding:0;
  margin-bottom:10px;
}

.form-submit {
  text-align:right;
}

.content-placeholder-wrapper {
  position:relative;

  &input {
    background-color:transparent;
  }

  .content-placeholder-container {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    padding: 10px 10px 8px;
    z-index:-1;
  }

  .content-placeholder-spacer {
    display:inline-block;
    visibility:hidden;
  }

  .content-placeholder-value {
    display:inline-block;
    z-index:10;
    position:relative;
    padding-left:4px;
  }
}

textarea {
  width:100%;
  height:80px;
  padding: 10px;
  border:1px solid #ddd;
}

.time-spacer {
  float:left;
  width:12px !important;
  text-align:center;
  padding-top:10px;
}

.time-spacer--time {
  width:32px !important;
}

.select-time-spacer--time {
  margin-left:5px;
}

#PlacesAutocomplete__autocomplete-container {
  z-index:1000;
}