@import './variables.scss';

.header {
  line-height:30px;
  height:60px;
  padding-top:15px;
  padding-bottom:15px;

  .main-button {
    margin-bottom: 0;
    margin-right:20px;
    line-height:17px;
    background-color:$orange;
    border:none;
    height:34px;
    border-radius:1px;
  }

  button:focus {
    outline:0;
  }

  .login-link {
    font-weight:bold;
  }
}

.visual {
  width:calc(100% + 20px);
  height:auto;
  margin:-60px -10px 10px;
  z-index:-1;
  position: relative;
  display:none;
  @media  screen and (max-width:767px) {
    display:none !important;
  }
  img {
    display:block;
    width:100%;
    height:auto;
  }

  .has-visual & {
    display:block;
  }
}

.menu-mobile{
  z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:#f1f1f1;
  position:absolute;
  text-align:center;
  font-size:12px;
  top:55px;
  left:0;
  max-height: 500px;
  transition: max-height 0.35s ease-out;
  overflow:hidden;
  &.is-hidden {
    max-height: 0;
    transition: max-height 0.25s ease-in;
  }
  @media  screen and (min-width:768px) {
    display:none !important;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;

    li a {
      text-decoration:none;
      margin: 0px;
      color:#666;
      padding:15px 0 15px 0;
      border-bottom:#dddddd 1px solid;
      display:block;
    }
  }
}

.burger-mobile-button-container {
  @media  screen and (min-width:768px) {
    display:none !important;
  }

  .burger-mobile-button {
    position: relative;
  }

  .button-toggle {
    padding:0;
    color:#999;
    border:0;
    color:#999;
    background:none;
    display:block;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    width:38px;
    &.is-hidden {
      display:none;
    }
  }

  .hamburger{
    line-height:32px;
    font-size:20px;
  }

  .cross {
    font-size:44px;
    line-height:40px;
  }
}
