@import './variables.scss';


.ride-detail {

  &__message {
    font-weight:bold;
  }

  &__ride-info {
    @media screen and (min-width: 768px) {
      float: left;
      width: calc(100% - 250px);
    }
  }
  &__user-info {
    margin-top: 20px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      float: right;
      width: 240px;
    }
  }
  &__back-btn {
    cursor:pointer;
    display:inline-block;
  }
}


.ride-detail-info {

}
.ride-detail-info {
  padding:15px;
  border:1px solid #ddd;
  border-radius: 3px;
}

.ride-detail-info__row {
  padding-bottom:10px;
}

.ride-detail-info__row--return-info {
  border-top:1px solid #ddd;
  margin-top:10px;
  padding-top:10px;
  @media  screen and (max-width:767px) {
    .ride-detail-info__label {
      margin-bottom:5px;
    }
    .ride-detail-info__label,
    .ride-detail-info__field {
      float:none;
      width:100%;
    }
  }
}

.ride-detail-info__label {
  float:left;
  width:130px;
  @media  screen and (min-width:768px) {
    width:150px;
  }
}

.ride-detail-info__field {
  float:left;
  width:calc(100% - 150px);
}

.ride-detail-user {
  border:1px solid #ddd;
  padding:15px;
  border-radius: 3px;
}

.ride-detail-user h3 {
  background-color:#f2f2f2;
  margin:-15px -15px 15px;
  padding:15px;
}