$blue: #18B5DC;
$grey-font: #333;
$orange: #dd440b;
$grey-border: #ddd;
$content-max-width:800px;
$header-bg-mobile: #3a3a3c;

$line-height-button: 14px;
$m-header-height: 45px;
$m-header-pv:10px;
$header-height: 65px;
$header-pv:15px;