body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  color:#333;
}

.is-login-page {
  background:url("../img/login-bg.jpg") center center fixed no-repeat;
  background-size:cover;
}

.is-login-page .page-wrapper {
  position:fixed;
  height:100%;
  width:400px;
  background-color:white;
}
.is-login-page .page-wrapper fieldset {
  height:100%;
  margin:140px 40px 0;
  border:none;
}

.is-login-page .page-wrapper .logo {
  display:inline-block;
  margin-bottom:20px;
}

.is-login-page .page-wrapper button {
  background-color:#18B5DC;
  border:none;
}

.is-login-page .page-wrapper .register-button {
  float:right;
  line-height:33px;
}

.logo{
  color:#18B5DC;
  font-size:24px;
  margin:0;
  font-family: 'Ruda', cursive;
  font-weight:700;
}

a {
  color:#333;
}

button {
  outline: 0;
}