@import '../../node_modules/react-datepicker/dist/react-datepicker.min.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error-message {
  padding:5px 0;
}

.ride-list-filter {
  display:flex;
  padding:10px 0;
}

.ride-list-filter-field input {
  width: 100px;
  margin-right:10px;
}

.ride-list-filter-field select {
  width: 100px;
  margin-right:10px;
}

.ride-form-fieldset {
  border: 1px solid #ddd;
  background-color:#f2f2f2;
  padding:20px;
  border-radius:2px;
}
.ride-form-fieldset h3 {
  font-weight:normal;
  border-bottom:1px solid #ddd;
  margin:-20px -20px  20px;
  padding:20px 20px 20px;
}

.ride-form-row {
  margin-bottom:10px;
}

.ride-form-row label {
  display:block;
}

.ride-form-row input, .ride-form-row select {
  border:1px solid #ddd;
  border-radius:2px;
  padding:3px;
  width:100%;
}

.ride-form-row--button {
  margin-top:20px;
  text-align:right;
}