input[type=text], input[type=password], select {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px 10px 8px;
  width: 100%;
  height:34px;
}

input[type=radio] {

}

label {
  display: block;
}

label.radio-label {
  display:inline-block;
  margin:0 10px;
}

fieldset {
  border: 1px solid #ddd;
  padding:20px;
  border-radius:2px;
  margin:0 0 20px;
}

fieldset label {
  padding-bottom: 2px;
}

fieldset .form-row {
  margin-bottom:20px;
}
fieldset .form-row.is-error input,
fieldset .datepicker-wrapper.is-error input,
fieldset .form-row.is-error select,
fieldset select.is-error {
  border-color:red;
}

fieldset .form-row.mb0 {
  margin-bottom:0px;
}

.content-placeholder-wrapper {
  position:relative;
}
.content-placeholder-wrapper input {
  background-color:transparent;
}
.content-placeholder-wrapper .content-placeholder-container {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  padding: 10px 10px 8px;
  z-index:-1;
}
.content-placeholder-wrapper .content-placeholder-spacer {
  display:inline-block;
  visibility:hidden;
}
.content-placeholder-wrapper .content-placeholder-value {
  display:inline-block;
  z-index:10;
  position:relative;
  padding-left:4px;
}

fieldset .form-row:last-child {
  margin-bottom:0;
}

fieldset h3 {
  font-weight:normal;
  background-color:#f2f2f2;
  border-bottom:1px solid #ddd;
  margin:-20px -20px  20px;
  padding:20px 20px 20px;
}

.form-row--button-right {
  margin-top:20px;
  text-align:right;
}

textarea {
  width:100%;
  height:80px;
  padding: 10px;
  border:1px solid #ddd;
}

.time-spacer {
  float:left;
  width:12px !important;
  text-align:center;
  padding-top:10px;
}

.time-spacer--time {
  width:32px !important;
}

.select-time-spacer--time {
  margin-left:5px;
}

fieldset .error-message {
  padding:0;
  margin-bottom:20px;
}