.login-page {
  position:fixed;
  height:100%;
  width:400px;
  background-color:white;
}
.login-page fieldset {
  height:100%;
  margin-top:100px;
  border:none;
}

.login-page .logo {
  display:inline-block;
  margin-bottom:20px;
}

.login-page button {
  background-color:#18B5DC;
  border:none;
}