.ride-user__user-image {
  float:left;
  width:60px;
}
.ride-user__user-image img {
  border-radius:50%;
}
.ride-user__user-info {
  float:right;
  padding-left:15px;
  width:calc(100% - 60px);
}

.ride-user__user-name {
  font-weight:bold;
  margin-bottom:4px;
}

.ride-user__top {
}

.ride-user__car {
  border-top: 1px solid #ddd;
  margin-top:10px;
}

.ride-user__car, .ride-user__description {
  padding-top:10px;

}

.ride-user h4 {
  margin:0 0 5px;
}
