.ride-list-filter {
  padding:10px 1rem;
  margin:0 -1rem 10px;
}

.ride-list-filter .heading {
  font-size:16px;
  margin-bottom:4px;
}
.ride-list-filter__wrapper {
  display:flex;
}
.ride-list-filter-field input {
  width: 160px;
  margin-right:10px;
  border-radius: 4px;
}

.ride-list-filter-field select {
  width: 160px;
  margin-right:10px;
}
.ride-list-filter button {
  outline:0;
}

